.create-poll {
  .inner-create {
    display: flex;
    margin: auto;
    flex-direction: column;
    overflow-x: hidden;

    * {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .option {
      font-size: 22px;
      font-weight: bold;
    }
    .headline {
      font-size: 26px !important;
      border-bottom: 1px solid black;
    }

    .question {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
    }

    .options {
      display: flex;
      flex-direction: column;
      border-top: 1px solid black;
      padding: 5px 5px;

      input {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
    .submit {
      color: #eee;
      background-color: #4ca64c;
    }
  }
}
