.navbar {
  display: flex;
  width: 100%;
  background-color: var(--basecolor);
  height: 65px;

  .logo {
    font-size: 42px;
    font-weight: 900;
    border-radius: 2.5px;
    border-bottom: 2.5px solid black;
    margin: auto auto auto 15px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
