.vote-poll {
    display: flex;
    min-height: 200px;

    .poll-questions {
        display: flex;
        flex-direction: column;
    }

}


.vote-success {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;

    .poll-question {
        text-transform: capitalize;
        margin-left: auto;
        margin-right: auto;
    }

    .poll-questions {
        
        .quest {
            margin: 5px 10px 5px 10px;
        }

        label {
            margin-left: 5px;
        }
    }

    button {
        margin-top: 15px;
        width: 115px;
    }
}

.vote-error {
    display: flex;
    flex-direction: column;
    height: 350px;
    position: relative;

    span {
        margin: 10px auto 10px auto;
        font-size: 24px;
    }
    .error-button {
        position: absolute;
        bottom: 10px;
        left: 10px;
        border: solid 1px black;
        padding: 10px 10px;
    }
}

.disable-btn {
    opacity: .75;
}