.master-share {
    background-color: #ffd756;
    position: fixed;
    right: 0;
    bottom: 0;
    border-top-left-radius: 10px;
    transition: 0.5s ease;

    .inner-share {
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        width: 375px;
    }
}

.hide {
    right: -500px;
}